#logout_button {
    background-color: red;
}

body {
    background-image:url(https://cdn.dribbble.com/users/5708671/screenshots/13490132/media/ca08f1ce7c4d7beb2876dee5d7eebf25.gif);
}

#addRoom_button {
    background: green;
}